Repository lovesegfault/cache-size: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, nixpkgs-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy -- --deny warnings
  language: system
  pass_filenames: false

nixpkgs-fmt:
  entry: nixpkgs-fmt
  language: system
  name: nixpkgs-fmt

ci: fix nix flake check step
  .github/workflows/ci.yml
Due: none

refactor(flake): only run fmt and clippy in checks
  flake.nix
Due: nixpkgs-fmt

ci: fix nix develop command invocation
  .github/workflows/ci.yml
Due: none

chore(cargo): bump version to 0.6.0
  Cargo.toml
Due: none

fix(cargo): update lockfile
  Cargo.lock
Due: none

Copy cpuid CacheType enum
  src/blanket.rs
Due: cargo-fmt, cargo-check, cargo-clippy

Fix clippy error
  src/x86.rs
Due: cargo-fmt, cargo-check, cargo-clippy

chore(nix): update flake inputs
  flake.lock
  flake.nix
Due: nixpkgs-fmt

chore(nix): remove flake-compat
  flake.lock
  flake.nix
  shell.nix
Due: nixpkgs-fmt

fix(flake): replace rnix-lsp with nil
  flake.nix
Due: nixpkgs-fmt

fix(pre-commit): update
  .pre-commit-config.yaml
Due: none

ci: update
  .github/workflows/ci.yml
Due: none

ci: checkout for pre-commit checks
  .github/workflows/ci.yml
Due: none

chore(cargo): update raw-cpuid
  Cargo.lock
  Cargo.toml
  src/x86.rs
Due: cargo-fmt, cargo-check, cargo-clippy

chore: release 0.7.0
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  nixpkgs-fmt: any of: \.nix$
